*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #22b573;
  font-family: 'Overpass', sans-serif;
}

h4 {
  font-weight: 100;
}

.page-main-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-menu-cont {
  /*border: 1px solid black;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85vw;
  margin-top: 20px;
  color: #eae9e4;
}

.dark-text-cont, .light-text-cont {
  background-color: #1c1414;
  width: 250px;
  height: 350px;
  margin-top: 20px;
  padding: 20px;
}

.dark-text-cont h5, .light-text-cont h5 {
  color: #fbbf61;
  line-height: 2;
}

.dark-text-cont p, .light-text-cont p {
  font-size: .7em;
  color: #eae9e4;
  line-height: 2;
  margin: 10px 0;
}

.light-text-cont {
  background-color: #f1f0ee;
}

.light-text-cont p {
  color: #1c1414;
}

.under-title, a {
  color: #fbbf61;
  text-align: left;
  width: 250px;
  margin: 5px 0;
  text-decoration: none;
}

.under-title:hover, a:hover {
  color: #1c1414;
}

.videoplay-cont {
  /*border: 1px solid white;*/
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-title {
  /*border: solid white 1px;*/
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
  .text-main-cont {
    /*border: 1px solid black;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80vw;
    height: 80vh;
  }
  .title-menu-cont {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5em;
    font-weight: 200;
  }
  .menu-cont {
    position: absolute;
    /*border: 1px solid white;*/
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    top: 0;
  }
  .dark-text-cont, .light-text-cont {
    height: 50vh;
    font-size: 1.5em;
  }
  h6 {
    /*border: 1px black solid;*/
    margin-top: 50px 0;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1280px) {
  .text-main-cont {
    /*border: 1px solid black;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80vw;
    height: 80vh;
  }
  .title-menu-cont {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.8em;
    font-weight: 200;
    margin: 50px 0;
  }
  .menu-cont {
    position: absolute;
    /*border: 1px solid white;*/
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    top: 0;
  }
  .dark-text-cont, .light-text-cont {
    width: 20vw;
    height: 70vh;
    font-size: 1.8em;
  }
  h6 {
    /*border: 1px black solid;*/
    margin-top: 50px 0;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=style.css.map */